
  <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1527891751199-7225231a68dd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" height="500" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1504817343863-5092a923803e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" height="500" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1652955686621-e62b602c099e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" height="500" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container">
    <h1>Modeled like an educational village,</h1>
    <h3>Cygnus is a space of unhindered exploration </h3>
  </div>

  <div class="container d-flex justify-content-between flex-wrap">
      <img src="https://cygnusworldschool.com/uploads/images/JasFx4V9YEOcld1Kzctnz4NUlQ2L5hyfmJu83Hcw.jpg" alt="">
       <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus aspernatur delectus perspiciatis vitae eius laborum fuga laboriosam veritatis error consequatur?</h2>
       <img src="https://cygnusworldschool.com/uploads/images/JasFx4V9YEOcld1Kzctnz4NUlQ2L5hyfmJu83Hcw.jpg" alt="">
       <img src="https://cygnusworldschool.com/uploads/images/JasFx4V9YEOcld1Kzctnz4NUlQ2L5hyfmJu83Hcw.jpg" alt="">
       <img src="https://cygnusworldschool.com/uploads/images/JasFx4V9YEOcld1Kzctnz4NUlQ2L5hyfmJu83Hcw.jpg" alt="">
  </div>