
  <div class="position-relative" style="height: 1000px;">
    <div class="bg-image position-absolute w-100 h-100" style="background-image: url('https://play-lh.googleusercontent.com/C0ntDH1VVRz9iXU82cRYLrBdsc6Son2IJUsT3Z7BAG5aNvrKXnbuhAij-JXWcJRA8SU'); background-size: cover; background-position: center;">
    </div>
    <div class="text-center position-relative">
      <h1 class="display-4">Student's Data</h1>
      <p>All the data should be correct*</p>
    </div>
    <div class="container w-50 shadow position-relative">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label ">Student Name</label>
            <input type="email" class="form-control" id="1" placeholder="Student Name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Student Class</label>
            <input type="email" class="form-control opacity-0.1" id="2" placeholder="Student Class">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Student Marks</label>
            <input type="email" class="form-control opacity-0.1" id="3" placeholder="Markes in percentage %">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Student Rank</label>
            <input type="email" class="form-control opacity-0.1" id="4" placeholder="Student Rank">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Student Roll No</label>
            <input type="email" class="form-control opacity-0.1" id="5" placeholder="Roll No">
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Male
            </label> 
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Female
            </label> 
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Other
            </label> 
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">City</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Select City</option>
                <option value="1">Nashik</option>
                <option value="2">Pune</option>
                <option value="3">Mumbai</option>
                <option value="3">Nagpur</option>
                <option value="3">Kolhapur</option>
              </select>

              <button class="btn btn-success mt-4 mb-3">Submit</button> &nbsp;
              <button class="btn btn-success mt-4 mb-3">Reset</button>

          </div>
      </div>
  </div>
  